

.mainDashboard{
    margin: auto;
    width: 75%;
    text-align: center;
  }
  
  
  

.hello{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 35px;
  }
  
  .selector{
    width: 66%;
    height: 15vh;
    margin: auto;
  }
  
  .selector button {
    width: 50%;
    height: 100%;
  }
  