.registration {
  display: inline-block;
  min-height: 94.4vh;
  min-width: 100%;
  background: url('/images/splash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.reg-comp {
  margin: auto;
  width: 75%;
  text-align: center;
  margin-top: 10%;
}
